# Exercícios 1

## Crie uma série pandas de cada um dos ítens abaixo: uma lista, array numpy e um dicionário

In [1]:

import pandas as pd
import numpy as np
minhalista = list('abcedfghijklmnopqrstuvwxyz')
meuarr = np.arange(26)
meudict = dict(zip(minhalista, meuarr))
#print(meudict)

#resposta
ser1 = pd.Series(minhalista)
ser2 = pd.Series(meuarr)
ser3 = pd.Series(meudict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

# Exercício 2

## Da variável ‘ser1’, remova os ítens presentes em ‘ser2’

### Pesquisem por isin

In [2]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#resposta
cond = ser1.isin(ser2)
ser1[~cond]

#resposta 2
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# Exercício 3

## Crie o DataFrame a seguir e exiba ordene por Seminário, em seguida recupere os alunos onde Seminário é maior ou igual a 8.0

In [3]:
df = pd.DataFrame({'Aluno' : ["Wilfred", "Abbie", "Harry", "Julia", "Carrie"],
                   'Faltas' : [3,4,2,1,4],
                   'Prova' : [2,7,5,10,6],
                   'Seminário': [8.5,7.5,9.0,7.5,8.0]})
df["Seminário"]

0    8.5
1    7.5
2    9.0
3    7.5
4    8.0
Name: Seminário, dtype: float64

In [4]:
df.sort_values(by="Seminário")

     Aluno  Faltas  Prova  Seminário
1    Abbie       4      7        7.5
3    Julia       1     10        7.5
4   Carrie       4      6        8.0
0  Wilfred       3      2        8.5
2    Harry       2      5        9.0

In [5]:
cond = df["Seminário"] >= 8.0
df[cond]
#df[df["Seminário"] >= 8.0]

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
2    Harry       2      5        9.0
4   Carrie       4      6        8.0